/*  */
* { box-sizing: border-box; }

html body {
  height: 100%;
  
}


.App .wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0.1em;
  min-height: 100%;
  overflow: hidden;
  display: grid;
  font-size: 16px;
  background-color: darkgrey;
}
.App {
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

/* PRIMARY COMPONENTS */
.header {grid-area: header;}
/* .menu {grid-area: menu;} */
.list {
  grid-area: list;
  overflow-y: scroll;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-template-columns: min(30%, 40ch) 1fr;
  grid-template-rows: auto 92vh;
  grid-template-areas:
    "header header"
    "list main"
    "footer footer";
  grid-gap: .1em;
}

/* TEMP BOXES */
.box {
  /* border-color: darkblue; */
  /* border-style: solid; */
  /* color: darkblue; */
  border-radius: 5px;
  padding: .25em;
  font-size: 1em;
}
.box .selected-note {
  background-color: lightblue;
}
textarea, .notelist {
  height: calc(100vh - 130px)
}

